//@forward 'element-plus/theme-chalk/src/common/var.scss' with (
//  $colors: (
//    'primary': (
//      'base': #FFB133,
//    ),
//  ),
//);
//
:root {
  --el-color-primary: #3178FF;
  --el-color-primary-dark-2: #285ab9;
  --el-color-primary-light-1: #4686ff;
  --el-color-primary-light-2: #5a93ff;
  --el-color-primary-light-3: #6fa1ff;
  --el-color-primary-light-4: #83aeff;
  --el-color-primary-light-5: #98bcff;
  --el-color-primary-light-6: #adc9ff;
  --el-color-primary-light-7: #c1d7ff;
  --el-color-primary-light-8: #d6e4ff;
  --el-color-primary-light-9: #eaf2ff;

  --color-main-bg: #f0f2f5
}

// * 当前页面最大化 css
.main-maximize {
  & > .el-container {
    & > .el-aside {
      display: none !important;
    }
    & > .el-container {
      & > .el-header {
        display: none !important;
      }
    }
  }
}

.el-tabs__nav-wrap {
  &::after {
    content: none;
  }
}
