//@forward 'element-plus/theme-chalk/src/common/var.scss' with (
//  $colors: (
//    'primary': (
//      'base': #FFB133,
//    ),
//  ),
//);
//
:root {
  --el-color-primary: #3178FF;
  --el-color-primary-dark-2: #285ab9;
  --el-color-primary-light-1: #4686ff;
  --el-color-primary-light-2: #5a93ff;
  --el-color-primary-light-3: #6fa1ff;
  --el-color-primary-light-4: #83aeff;
  --el-color-primary-light-5: #98bcff;
  --el-color-primary-light-6: #adc9ff;
  --el-color-primary-light-7: #c1d7ff;
  --el-color-primary-light-8: #d6e4ff;
  --el-color-primary-light-9: #eaf2ff;

  --color-main-bg: #f0f2f5
}

// * 当前页面最大化 css
.main-maximize {
  & > .el-container {
    & > .el-aside {
      display: none !important;
    }
    & > .el-container {
      & > .el-header {
        display: none !important;
      }
    }
  }
}

.el-table {
  --el-table-header-bg-color: #F8F8F8;
}
.el-dialog__body {
  .el-input {
    width: 220px;
  }
}
// .el-input__wrapper {
//   width: 210px;
// }
.el-tabs__content {
  overflow: visible;
}

// sensitivity-tooltip样式
.sensitivity-tooltip {
  color: #f56c6c;
  border-color: #fde2e2 !important;
  background-color: #fef0f0 !important;
  .popper__arrow {
    border-right-color: #fde2e2 !important;
    &::after {
      border-right-color: #fef0f0 !important;
    }
  }
}
// dialog-header添加竖线
.el-dialog__header {
  position: relative;
  padding-left: 30px;
  margin-right: 0;
  &:before {
    position: absolute;
    left: 16px;
    top: 23px;
    content: '';
    display: block;
    width: 6px;
    height: 20px;
    background-color: var(--el-color-primary);
    margin-right: 6px;
    border-radius: 3px;
  }
}
